nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: bisque;
  }
  
  nav img {
    order: -1; 
    max-width: 30px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
  }

  nav :hover{
    color: blue;
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(129, 193, 114);
}

img{
    width: 350px;
}

.achtergrond-home{
    position:sticky;
    z-index: -10;
    width: 500px;
    opacity: 50%;
}

.v-pijltje{
    margin-top: -90px;
    width: 100px;
}

.logo-home{
    margin-top: -100px;
}


/* img[src="gehele-"] {
    max-width: 100%;
    height: auto;
    margin-top: 20px; 
  } */
